{block:Hidden}
%meta{ :name=>"text:Google Plus Author", :content=>"101558042567851796513" }
%meta{ :name=>"text:Google Plus Publisher", :content=>"" }
%meta{ :name=>"text:Google Analytics ID", :content=>"" }
%meta{ :name=>"text:Google Maps API Key", :content=>"" }
%meta{ :name=>"text:Disqus Shortname", :content=>"" }
%meta{ :name=>"text:Flickr Username", :content=>""}
%meta{ :name=>"text:Disqus Shortname", :content=>"" }
{/block:Hidden}
