/ Style
:scss
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300&subset=latin,latin-ext);
  @import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css);
  @import url(http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css);

/ Fallback Bootstrap CSS CDN
:javascript
  function test_bt_css() {
    var box_sizing = window.getComputedStyle(document.documentElement, null),
    bt_link = document.createElement('link'),
    fa_link = document.createElement('link');
    if ( box_sizing.getPropertyValue('box-sizing') !== 'border-box' &&
    box_sizing.getPropertyValue('-moz-box-sizing') !== 'border-box' &&
    box_sizing.getPropertyValue('-webkit-box-sizing') !== 'border-box' ) {

        bt_link.href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
        bt_link.rel="stylesheet";

        fa_link.href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
        fa_link.rel="stylesheet";

        head = document.getElementsByTagName("head")[0];
        head.insertBefore(fa_link, head.firstChild);
        head.insertBefore(bt_link, head.firstChild);

    }
    }
    test_bt_css();
